@import url('https://fonts.cdnfonts.com/css/krona-one');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$Inter: 'Roboto', sans-serif;
$Krona-One: 'Krona One', sans-serif;
$Plus-Jakarta-Sans: 'Plus Jakarta Sans', sans-serif;



$Font-Size-15px: 15px;
$Font-Size-18px: 18px;
$Font-Size-20px: 20px;
$Font-Size-22px: 22px;
$Font-Size-25px: 25px;
$Font-Size-45px: 45px;
$Font-Size-50px: 50px;
$Font-Size-55px: 55px;
$Font-Size-60px: 60px;